PORT=4000
DATABASE=
DATABASE_=

PASSWORD=

NODE_ENV=

JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET=
WEB_HOOK_SECRET=

CLIENT_URL=

CLIENT_URL_PROD=
